[submodule "panda"]
	path = panda
	url = ../../danielzmod/panda.git
[submodule "opendbc"]
	path = opendbc
	url = ../../danielzmod/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "apks"]
	path = apks
	url = ../../commaai/openpilot-apks.git
[submodule "cereal"]
	path = cereal
	url = ../../danielzmod/cereal.git

[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
